<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="listeStyle.css">
    <title>Liste Des Rendez-vous</title>
</head>
<body>
    <div class="liste">
        <a href="/dashboard"><button class="acceuilButton">Retour à l'acceuil</button></a>

        <h1>Liste Des Rendez-vous</h1>

      
        <div>
            <% if (appointments && appointments.length > 0) { %>
                <table>
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Heure</th>
                      <th>Docteur</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% appointments.forEach(appointment => { %>
                      <tr>
                        <td><%= appointment.date_RDV %></td>
                        <td><%= appointment.heure_debut %></td>
                        <td><%= appointment.doctor_name %></td>
                        <td>
                          <a href="/appointments/cancel/<%= appointment.id_RDV %>">Annuler</a></td>
                      </tr>
                    <% }); %>
                  </tbody>
                </table>
                <% } else { %>
                    <p>Aucun rendez-vous à venir.</p>
                  <% } %>
                </div>
    </div>
   
</body>
</html>