<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/style.css"> <!-- Ajoute ton CSS si nécessaire -->
</head>
<body>
  <header>
    <h1>Bienvenue, <%= user.name %> !</h1> <!-- Affiche le nom de l'utilisateur -->
    <nav>
      <ul>
        <li><a href="/edit/<%= user.id %>">Mon profil</a></li>
        <li><a href="/appointments">Mes rendez-vous</a></li>
        <li><a href="/allMedecins">ListeMedecins</a></li>

        <li><a href="/logout">Déconnexion</a></li> <!-- Permet à l'utilisateur de se déconnecter -->
      </ul>
    </nav>
  </header>



  <footer>
    <p>&copy; 2025 Votre Application</p>
  </footer>

</body>
</html>
