<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion Admin</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex items-center justify-center h-screen">

    <div class="bg-white p-8 rounded shadow-lg w-96">
        <h2 class="text-2xl font-bold text-center mb-6">Connexion Admin</h2>
        
        <form id="adminLoginForm" method="post" action="/adminLogin">
            <input type="text" id="email" placeholder="Email" class="border p-2 w-full mb-3 rounded" required name="username">
            <input type="password" id="password" placeholder="Mot de passe" class="border p-2 w-full mb-3 rounded" required name="password">
            <button type="submit" class="bg-blue-600 text-white p-2 rounded w-full">Se connecter</button>
        </form>

        <% if (typeof error !== 'undefined') { %>
            <div class="error-message">
              <%= error %>
            </div>
          <% } %>
        <div class="mt-4 text-center">
            <a href="/homepage" class="text-blue-500">Retour à l'accueil</a>
        </div>
    </div>

</body>
</html>
