<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rendez-vous</title>
    <link rel="stylesheet" href="/styles2.css">
</head>
<body>
<div>
    <form id="rdvForm">
    <h1>Prendre un Rendez-vous</h1>
        <label for="date">Date :</label>
        <input type="date" id="date" required>

        <label for="heure">Heure :</label>
        <select id="heure" required>
            <option value="10:00">10:00</option>
            <option value="10:30">10:30</option>
            <option value="11:00">11:00</option>
            <option value="11:30">11:30</option>
            <option value="12:00">12:00</option>
            <option value="12:30">12:30</option>
            <option value="13:00">13:00</option>
            <option value="13:30">13:30</option>
            <option value="14:00">14:00</option>
            <option value="14:30">14:30</option>
            <option value="15:00">15:00</option>
        </select>

        <button type="submit">Réserver</button>
    </form>
</div>
</body>
</html>
