body {
    width: 100%;
    height: 100vh;
    margin: 0;
    color: #28539e;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("doctors.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: blur(20px);
    z-index: -1;
}
.liste{
    width: 100%;
    max-width: 1000px;
    padding: 2rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #000;
    text-align: left;

}

.acceuilButton{
    display: inline-block;
    background-color: #2AA8FF;
    color: aliceblue;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;

}

.acceuilButton:hover{
    background-color: #358ece;
}

h1{
    text-align: center;
    color: #1B3C74;
    font-size: 2rem;
    margin-bottom: 40px;
}

.barre-recherche{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 20px;
}

.barre-recherche label{
    color: #1B3C74;
    font-weight: bold;
    margin-left: 10px;
}

.barre-recherche input::placeholder{
    padding: 8px;
    border-radius: 9px;
    border: 1px solid #2AA8FF;
    font-size: 0.8rem;
    width: 200px;
}

table{
    width: 100%;
    margin-top: 20px;
    border: 1px solid beige;
    
}

th{
    background-color: #28539e;
    color: white;
}

td{
    background-color: white;
}

td, th{
    padding: 12px;
    text-align: center;
    border: 1px solid beige;
}

button.informations{
    background-color: #358ece;
    color: aliceblue;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

button.informations:hover{
    background-color: #b0ccd4;
}





